> Criação de objeto 
> Criando um Series passando uma lista de valores, permitindo que os pandas criem um índice inteiro padrão:

In [1]:
import pandas as pd 
import numpy as np 


s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

> Criando um DataFramepassando uma matriz NumPy, com um índice de data date_range() e hora usando colunas rotuladas:

In [3]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -0.493788 -0.438311 -0.301404 -0.544912
2013-01-02 -0.637534  0.539636  0.208443  0.965945
2013-01-03  0.642448 -1.175441 -0.913530 -0.142422
2013-01-04 -0.337411  0.428378  0.308674 -0.171882
2013-01-05  0.375197  0.628870 -0.682920  0.507169
2013-01-06 -0.377925 -0.402848 -1.140941  0.259620

> Criando um DataFramepassando um dicionário de objetos que podem ser convertidos em uma estrutura semelhante a uma série:

In [6]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

> As colunas do resultado DataFrametêm diferentes dtypes :

In [7]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

describe() mostra um resumo estatístico rápido de seus dados:

In [8]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.138169 -0.069953 -0.420280  0.145586
std    0.518829  0.717899  0.595387  0.543554
min   -0.637534 -1.175441 -1.140941 -0.544912
25%   -0.464822 -0.429445 -0.855878 -0.164517
50%   -0.357668  0.012765 -0.492162  0.058599
75%    0.197045  0.511822  0.080982  0.445282
max    0.642448  0.628870  0.308674  0.965945